## Pulling data from a Data Model

In [ ]:
from pycelonis import get_celonis
from pycelonis.pql import PQL, PQLColumn, PQLFilter
import pandas as pd

### Connect to Celonis

In [3]:
celonis = get_celonis("api token")

2020-03-02 13:00:58 - pycelonis: Login successful! Hello Dimitris

### Select Datamodel

In [5]:
datamodel = celonis.datamodels.find('datamodel id/name')

This is the Table in our Datamodel. It has 2 Columns with the names "A" and "B".

   A  B
0  1  3
1  2  4
2  5  6

### Define the query you want to pull
Example 1: pull a specific Column. We select Column "A" from table "Table_name" and name this "Name 1"

In [9]:
query = PQLColumn(query = "Table_name.A", name = "Name 1")
df = datamodel.get_data_frame(query)
df

   Name 1
0       1
1       2
2       5

Example 2: Pull a custom PQL-Statement

In [11]:
query = PQLColumn(query = "MAX(Table_name.A)", name = "Name 1")
df = datamodel.get_data_frame(query)
df

   Name 1
0       5

Example 3: Do more things at once and add Filters

In [13]:
query = PQL()
query += PQLColumn("MAX(Table_name.A)", "Name 1")
query += PQLColumn("COUNT(Table_name.B)", "Name 2")
query += PQLFilter("Filter Table_name.B < 5")
query += PQLFilter("Filter Table_name.B > 3")

df = datamodel.get_data_frame(query)
df

   Name 1  Name 2
0       2       1