## Pushing Data

### This tutorial shows how data can be pushed from Python to Celonis. The data is pushed to a Celonis Data Pool or Data Model and is ready to use within IBC.
In this to Tutorial we will:
1. Connect to Celonis
2. Prepare the data that needs to be pushed into a dataframe.
3. Push the data into Celonis
    1. Push data to datapool
    2. Push data directly to a specific datamodel in the datapool

### Connect to Celonis

In [1]:
from pycelonis import get_celonis
celonis = get_celonis()

2020-10-23 11:50:39 - pycelonis: Login successful! Hello Noor

### Prepare the data that needs to be pushed to celonis into a dataframe

For the sake of this demo, we will create a dummy dataframe, but you can put any data in the dataframe as you like

In [2]:
import pandas as pd

df = pd.DataFrame({'A': [2, 4, 8, 0], 'B': [2, 0, 0, 0], 'C': [10, 2, 1, 8]})
df.head()

   A  B   C
0  2  2  10
1  4  0   2
2  8  0   1
3  0  0   8

### Push the data from the dataframe into a table in Celonis

#### A. Push data to the datapool

##### Find the datapool

In [3]:
data_pool = celonis.pools.find("id_or_name_of_data_pool")

##### If you are unsure about the name/id of your data pool you can list all the datapools available to you

In [ ]:
celonis.pools

Now we push the data frame to the data pool. For this, we use the push_table() function, which has the following properties:
* df_or_path: Either the pandas data frame or the path to a data frame that should be pushed to Celonis
* table_name: The name that this data frame should have in the data pool
* if_exists: Specifies what happens when the table already exists in the data pool. The options are 'replace', 'append', 'upsert', 'error'

The additional parameters (like the setting of primary keys and column types) can be checked by pressing SHIFT + TAB, while the curser is in the function push_table()

In [ ]:
data_pool.push_table(df,"table_name", if_exists = 'replace')

The table is now in the data pool and can be added to any data model in that pool.

### B. Push data directly to the datamodel
We could also directly push the table to the data model. We would first need to find the data model.
##### Find the datamodel

In [5]:
data_model = celonis.datamodels.find("datamodel id/name")

##### If you are unsure about the name/id of your data pool you can list all the datamodels available to you

In [5]:
celonis.datamodels

##### Push the dataframe as table in the datamodel

Use the push_table() function again. In this example we will replace the table if it already exist, however we can also use the options: append and upsert as stated earlier.

Here we have additionally the option to reload the datamodel. In this example we choose to set reload_datamodel as False. In this case, the changes will be effective with the next scheduled or manual datamodel reload.

In [6]:
data_model.push_table(df,"table_name",reload_datamodel=False, if_exists = 'replace')